:root {
  --primary-color: #00b4d8;
  --secondary-color: #3A5A40;
  --accent1-color: #588157;
  --accent2-color: #CAF0F8;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; /* Previne a rolagem horizontal */
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 0.5rem;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 40px;
  font-size: 2em;
}

a {
  color: var(--accent2-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hero img {
  display: block;
  width: 100%;
  height: 600px;
}

.hero h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4em;
  font-weight: 700;
}

.meiuca {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.meiuca p {
  background-color: var(--secondary-color); /* Cor secundária como fundo */
  color: white; /* Cor do texto para contraste */
  padding: 20px; /* Espaçamento dentro das caixas */
  border-radius: 10px; /* Bordas arredondadas */
  flex: 1; /* Garante que os blocos fiquem do mesmo tamanho */
}

.middleimg {
  margin: 0 20px;
  max-width: 400px;
  height: auto;
}


.titulo2 {
  text-align: center;
  font-size: xx-large;
}

article {
  position: absolute;
  bottom: 20rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(88, 129, 87, 0.9); 
  padding: 10px;
  width: 80%;
  text-align: center;
}

.articleimg {
  float: right;
}

.adventure {
  text-align: center;
  font-size: xx-large;
}

.pictures {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.image-container {
  position: relative;
  width: 300px; /* Tamanho fixo das imagens */
  height: 200px; /* Altura fixa */
  overflow: hidden; /* Garante que nada exceda o contêiner */
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Barra preta semi-opaca */
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; /* Garante que padding seja contado dentro da largura */
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

.icons img {
  margin-left: 10px;
  margin-right: 20px;
}

@media (max-width: 1000px) {
  nav ul {
    flex-direction: column;
    gap: 200px;
  }

  .pictures {
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    width: 100%;
    max-width: 300px;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }
}
