    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
    background-color: rgb(6, 102, 70);
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

h1 {
    color: rgb(5, 57, 100);
    font-size: x-large;
}

main img {
    width: 200px;
    height: auto;
    border: 2px slateblue;
    padding: 2px;
    box-shadow: 0 0 10px;
    float: right;
}

p {
    padding: 0;
    color: orangered;
}

aside {
    width: ;
    margin: 1rem;
    border: 1px solid #000;
    padding: 1rem;
    background-color: #fff;
    color: #332a2a;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
}


main {
    max-width: 840px;
  }

aside img {
    width: 200px;
    height: auto;
}


footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
  }

  /* Class Selectors */ 

  .box {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}